.red {
  fill: red;
}

.postal_CI {
  fill: red;
}
.postal_BI {
  fill: gray;
}
.postal_E {
  fill: green;
}
.postal_CT {
  fill: blue;
}
.post_ML {
  fill: orange;
}

#map {
  width: 800px;
  height: 400px;
}